body {
  font-family: Arial;
  background: #f4f6f8;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #1e293b;
  color: white;
  padding: 15px;
}

.container {
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
}
